<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script defer src="/js/login.js"></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <main>
      <section class="login">
        <form onsubmit="handleLoginSubmit(event)" class="login-form">
          <div class="form-control">
            <label for="username">User Name :</label>
            <input type="text" name="username" id="username" />
          </div>
          <button type="submit">Submit</button>
        </form>
      </section>
    </main>
  </body>
</html>
