<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Message</title>
    <script defer src="/js/sendMessage.js"></script>
  </head>
  <body>
    <div id="messages"></div>
    <form onsubmit="handleSendMessage(event)">
      <div>
        <label for="message">Message : </label>
        <input type="text" name="message" id="message" />
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
